@font-face {
  font-family: 'YuewenFont-Regular';
  src: url('/ecy_activity/2018/63187639/fonts/yuewen/YuewenFont-Regular.woff2') format('woff2'),
  url('/ecy_activity/2018/63187639/fonts/yuewen/YuewenFont-Regular.woff') format('woff'),
  url('/ecy_activity/2018/63187639/fonts/yuewen/YuewenFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}